<div class="container">
    <div class="hero">
        <div class="hero__info">
            <div class="hero__info__image">
                <img src="https://cdn.discordapp.com/attachments/1062055009749041252/1074807305700384808/IMG_2122.JPG" alt="pfp">
            </div>
            <div class="hero__info__demographics">
                <h2>Nikita Korolkov</h2>
                <p>20 y. o.</p>
                <p>Toronto, ON</p>
            </div>
        </div>
        <div class="hero__text">
            <p>I am a skilled web developer with a passion for building engaging websites using the MEAN stack. Proficient in both front-end and back-end development, I had delivered top-quality web solutions. Skilled in various programming languages including C/C++, Java, Python, and more, I approach projects with versatility and attention to detail. With a strong work ethic and a love for new technologies, I will bring your website vision to life.</p>
        </div>
    </div>
</div>