<div class="container">
    <div class="mail">
        <p>You can contact me by sending a message to this email:</p>
        <h3>nkorolkov@myseneca.ca</h3>
    </div>
    <p>Alternatively, you can reach me through one of the following platforms</p>
    <div class="socials">
        <a href="https://github.com/kitsaaa"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nkorolkovdev/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://t.me/acidchild"><i class="fa-brands fa-telegram"></i></a>
    </div>
</div>